# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env
# Django stuff
db.sqlite3
*.log
media/
staticfiles/
.env.example
# IDE / OS files
.DS_Store
.idea/
.vscode/
*.bak
*.fixed
